body {
  font-family: 'Montserrat';
  color: white;
  margin: 0;

}

.home {
  font-size: 30px;
  position: absolute;
  top: 550px;
  left: 630px;
  text-align: center;

}

.welcome {
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 30%;
  right: 30%;
  left: 30%:

}

.intro {
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 30%;
  left: 30%;
}


a:link {
    text-decoration: underline;
    color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: grey;
  transition: 0.5s linear;
}
