//footer styling

hr {
  height: 1px;
  margin: 5%;
  background-color: rgba(0,0,0,0.2);
  border: 0;
}


.footer {
  margin-top: 2%;
  margin-bottom: 5%;
}
//workItem {}
.workItem {
  &-left {
    display: inline-block;
    float: left;
  }

  &-center {
    display: inline-block;
  }

  &-right {
    display: inline-block;
    float: right;
  }
}

//workItem-left article styling
.workItem-left {
  margin-left: 15%;
}

//workItem-center styling
.center {
  margin: 0 auto;
  width: 240px;
}

//workItem-left article styling
.workItem-right {
  margin-right: 15%;
}

//workItem-picture styling
.workItem-picture {
  width: 240px;
  height: 300px;
  overflow: hidden;
}

//workItem-title styling
.footer-workItem-title {
  width: 240px;
  height: 54px; //2 lines of text
  margin-right: 0px;
  text-align: left;
  margin-bottom: 5px;
}

//footer link styling
.footer a {
  &:link {
    text-decoration: none;
    font-family: $heading-font;
    color: $menu-color;
    font-size: 1.2em;
    font-weight: 500;
  }

  &:visited {
    text-decoration: none;
    font-family: $heading-font;
    color: $menu-color;
    font-size: 1.2em;
    font-weight: 500;
  }

}

//hover effect styling
.workItem-picture {
  transition: all 0.3s ease;

}
.workItem-picture:hover {
  transform: translate(0px, -10px);
}

.workItem:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}
