body {
  background: #000;
  font-family: 'Neuton', serif;
  color:white;
  font-weight: 300;
  font-size: 30px;
  margin: 0px;
}
.spacer {
  height: 20vh;
}

.ob-text {
  /* position: absolute; */
  margin: auto;
  width: 40%;
}

a {
  color: rgb(0,255,0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
