body {
  font-family: 'Montserrat'
}

img {
  transform: rotate(90deg);
  margin-top: 8%;
  margin-left: 3%;
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top:2%;
  margin-bottom: 2%;
}

.info {
  display: inline-block;
  float: right;
  width: 40%;
  margin-top:6%;
  margin-right: 14%;
}
