
.home {
  font-family: 'Montserrat';
  color: white;
  font-size: 30px;

  position: absolute;
  top: 550px;
  left: 630px;
  text-align: center;

}


a:link {
    text-decoration: underline;
}

a:visited {
  color: white;
}
