.award {
  height: 10%;
}

.award img {
  display:block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.film-title {
  height:23%;
}

.film-title h1 {
  text-align: center;
  font-family: "Futura";
}

.terrifying {
  position: relative;
  top: -140px;
}

.dining-hall {
  position: relative;
  top: -320px;
}

.the h1 {
  margin-top: 0px;
  opacity: 0.4;
}

.terrifying h1 {
  font-size: 120px;
  color: black;
  opacity:0.3;
}

.dining-hall h1 {
  font-size: 120px;
  color: black;
  opacity:0.5;
}


.film-subtitle {
  text-align: center;
  font-family: 'Lato';
  font-style: italic;
}

.video-block {
  padding-top: 2%;
  height: 50%;
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scroll {
}

.scroll img {
  width: 4%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.about {
  visibility: hidden;
  background: white;
  width: auto;
  /* height: 500px; */
}


.about p {
  color: white;
  font-family: 'Futura';
  font-weight: bold;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 30px;
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 2.5s;
    visibility: visible;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        background: white;
        opacity: 0;
        font-family: 'Futura';
        font-weight: bold;
        font-size: 40px;
        height: 50%;
    }
    100% {
        background: black;
        color: white;
        font-family: 'Futura';
        font-weight: bold;
        font-size: 40px;
        padding-left: 2%;
        width: auto;
        height: 50%;
    }
}

.team {
  background: white;
  width: auto;
  height: 500px;
}

.team p {
  color: black;
  font-family: 'Futura';
  font-weight: bold;
  font-size: 40px;
  padding-left: 30px;
}
