body {
  font-family: 'Montserrat';
}


.mff a {
  color: orange;

}

.sound a {
  color: blue;
}

.comics a {
  color: crimson;
}

.video a {
  color: lightSeaGreen;
}

.animation a {
  color: salmon;
}


a {
  font-size: 100px;
  opacity: 0.5;
}

a:link {
    text-decoration: none;
}

a:hover {
    opacity: 1;
    transition: opacity 0.5s linear;
}

span {
  color: grey;
  font-size: 12px;
  font-family: 'Montserrat';
  opacity:0.5;
}
