* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cubeW: 100px;
  --cubeH: 100px;
  --green: #16FF89;
  --yellow: #FFFF42;
  --palegren: #E5FFD5;
  --gradient3: linear-gradient(#16FF89 0%,#E5FFD5,  #FFFF42 95%); 
  --greengrad:  linear-gradient(#16FF89,#fff); 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000; 
}

#container {
  display: block;
  width: 100vw;
  height: 300px;
  flex-flow: row wrap;
  row-gap: 0px;
  position: absolute;
  top:0;
  left: 0;
  transform-style: preserve-3d;
  /* transform: rotateX(-30deg) rotateY(80deg); */
  /* animation: rotatefield 15s linear infinite; */

}

/* #container {
  display: inline-block;
  overflow: wrap;
  width: 100vw;
  height: 300px;
  position: absolute;
  top:0;
  left: 0;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-20deg);} */


@keyframes rotatefield {
  0%{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100%{
    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
  }
}

.cube {
  position: absolute;
  width:0;
  height: 0;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-80deg);
  /* background-color: #fff;
  border: #000 solid 1px; */
  /* transform: rotateX(-30deg) rotateY(30deg); */
  /* animation: animate 10s linear infinite; */
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(-20deg);
  }
}

.cube div {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* transform: rotateZ(90deg) rotateY(0deg) rotateX(90deg) translateY(calc(var(--cubeH)/2)); */
}



.cube div span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--greengrad);
  transform-origin: bottom center;
  transform: rotateY(calc(90deg*var(--i))) translateZ(calc(var(--cubeW)/2));
  transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cube div span:hover {
  background:  rgb(0, 255, 21);   
  transition: background 2s linear ;
}

.top {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  background: var(--greengrad);
  width:0;
  height: 0;
  /* transform: rotateX(90deg) translateZ(calc(var(--cubeW)/2*(-1))); */
  transition: background 1s ease, transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) ;
  cursor: pointer;
}

.top :hover {
  background: linear-gradient(#000, #00f); 
  transition: background 1s;

}

/* .top::before {
  content: '' ;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cubeW);
  height: var(--cubeW);
  background: linear-gradient(#000, #f00); 
  transform: translateZ(-400px);
  filter: blur(20px);
} */




