body {
  background-color: black;
}

h1 {
  margin-top: 0;
  font-family: 'Montserrat';
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 30pt;
}


.homeIcon {
  display: inline-block;
}

.about {
  display: inline-block;
  float: right;
  margin-top: 0.5%;
  margin-right: 1%;
  font-family: 'Montserrat';
  color: white;
}

.about a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.about a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.about a:hover {
    color: gray;
    text-decoration: none;
}


.image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image:hover .object {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -1px); }
    20% { transform: translate(-1px, 0px); }
    30% { transform: translate(1px, 1px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-1px, 1px); }
    70% { transform: translate(1px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 1px); }
    100% { transform: translate(1px, -1px); }
}

.object {
  cursor: pointer;
}


.finalImage {
  height: 600px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.arrowContainer {
  position: fixed;
  bottom: 10px;
  padding-left: 90%;
}
