body {
  background-color: black;
}

h1 {
  text-align: center;
}

.totoro {
  display: none;
}

.funfun {
  display: block;
}

.funfun img{
  width: 100%;
}

.introVideo {
  margin-right: auto;
  margin-left: auto;
}
