body {
  background-color: black;
}

h1 {
  margin-top: 0;
  font-family: 'Montserrat';
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 30pt;
}

h4 {
  font-family: 'Montserrat';
  color: white;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: 'Montserrat';
  color: white;
  font-weight: 300;
  text-align: center;
}

/* Home + About */

.homeIcon {
  display: inline-block;
}

.about {
  display: inline-block;
  float: right;
  margin-top: 0.5%;
  margin-right: 1%;
  font-family: 'Montserrat';
  color: white;
}

.about a:link {
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
}

 .about a:visited {
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
}

 .about a:hover {
    font-family: 'Montserrat';
    color: gray;
    text-decoration: none;
}

/* End of Home + About */

.letso {
  display: inline-block;
  float: center ;
  font-family: 'Montserrat';
  color: white;
}

.letsgo a:link {
    font-family: 'Montserrat';
    color: white;
    text-decoration: underline;
}

 .letsgo a:visited {
    font-family: 'Montserrat';
    color: white;
    text-decoration: underline;
}

 .letsgo a:hover {
    font-family: 'Montserrat';
    color: gray;
    text-decoration: underline;
}



.image {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.apple {
  cursor: pointer;
}

.gif {
  width: 900px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.arrowContainer {
  position: fixed;
  bottom: 10px;
  padding-left: 90%;
}
