body {
  background-color: black;
  color: white;
  font-family: 'Neuton', serif;
  font-weight: 300;
  font-size: 30px;
  margin: 0px;
}

#navBar {
  margin-top: 10px;
  margin-left: 10px;
}

.button {
  padding: 12px;
  background: white;
  border: solid 2px black;
  border-radius: 20px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  line-height:12px;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.button:focus {
  outline: none;
}

#home {
  padding: 6px;
}

#personatitle {
  margin: 10px;
  font-family: 'Neuton', serif;
  font-weight: 300;
  font-size: 30px;
}

#inputSection {
display: block;
position: absolute;
width: 100%;
top: 30%;
text-align: center;
}

#inputField {
  width: 90%;
  height: 5vh;
  padding: 20px;
  font-family: 'Neuton', serif;
  font-weight: 300;
  font-size: 25px;
  color: white;
  background-color: #000;
  border: solid white 1px;
}

#submitButton {
  display: block;
  position: absolute;
  left: 45%;
  margin-top: 20px;
  cursor: pointer;
}

#comeback {
  position: absolute;
  width: 93%;
  bottom: 1%;
  color: white;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* ----------------------------------------- */
#transBtn {
  position: absolute;
  left: 1%;
  top: 20px;
  cursor: pointer;
}

#transcript {
  width: 20vw;
  height: 500px;
  color: white;
  position:absolute;
  overflow: scroll;
  left: 10px;
  top: 70px;
  font-family: 'Neuton', serif;
  font-size: 16px;
}

#trans-text {
}

#soundBtn {
  position: absolute;
  right: 1%;
  top: 20px;
  cursor: pointer;

}

#homegrowth {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
