body {
  background: black;
}

.logo {
  width: 160px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-family: 'Montserrat';
  font-size: 15px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.nav {
  margin: 5%;
  width: 95%;
}

.nav div {
  width: 23%;
  display: inline-block;
  text-align: center;
}

.rhythm-project {
  width: 100%;
}

.nav a {
  font-family: 'Montserrat';
  font-size: 18px;
}

a:link {
    color: white;
    text-decoration: none;
    color: white;
    text-align: center;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color:gray;
}

/* selected link */
a:active {
    color: gray;
}
