
body {
  margin: 0px;
    background: black;

}
.container {

  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  /* stretch the items to fill the container's space */
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}



img {
margin: 10px;
max-width: 200px;
object-fit: cover;
}
