//projects-page
$heading-font: "IBM Plex Sans";
$subtitle-font: "Roboto";
$menu-color: #000000;
$background-color: #FFFFFF;

@import "nav-bar";


//quote styling

.page-title {
  font: {
    family: "IBM Plex Serif";
    size: 18px;
    weight: 300;
    style: italic;
  }
  color: black;
  text-align: center;
  margin-top: 10%;

  span {
    font-size: 0.8em;
    position: relative;
    top: -5px;
  }
}

//end of quote styling

//workItem {}
.workItem {
  &-left {
    display: inline-block;
    float: left;
  }

  &-center {
    display: inline-block;
  }

  &-right {
    display: inline-block;
    float: right;
  }
}

//workItem-left article styling
.workItem-left {
  margin-left: 15%;
}

//workItem-center styling
.center {
  margin: 0 auto;
  width: 240px;
}

//workItem-left article styling
.workItem-right {
  margin-right: 15%;
}

//workItem-picture styling
.workItem-picture {
  width: 240px;
  height: 300px;
  overflow: hidden;
  margin-top: 100px;
}

//workItem-title styling
.workItem-title {
  width: 240px;
  height: 54px; //2 lines of text
  margin-right: 0px;
  text-align: left;
  margin-bottom: 5px;
}

//workItem-list link styling
.workItem-list a {
  &:link {
    text-decoration: none;
    font-family: $heading-font;
    color: $menu-color;
    font-size: 1.2em;
    font-weight: 500;
  }

  &:visited {
    text-decoration: none;
    font-family: $heading-font;
    color: $menu-color;
    font-size: 1.2em;
    font-weight: 500;
  }

}

//hover effect styling
.workItem-picture {
  transition: all 0.3s ease;

}
.workItem-picture:hover {
  transform: translate(0px, -10px);
}

.workItem:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.monoItem:hover {
  text-decoration: none;
}

//footer styling
.footer {
  height: 100px;
}

//footer-quote styling
.footer-quote {
  text-align: center;
  font-family: "IBM Plex Serif";
  margin-top: 5%;
}

//MONOLOGUE styling
#mono-title {
  margin-top: 10%;
  text-align: center;
  font:{
    family: $heading-font;
    size: 2.5em;
    weight: 500;
  }
}

#mono-sub {
  color: black;
  text-align: center;
  margin-top: 2%;
  font: {
    family: "IBM Plex Serif";
    size: 18px;
    weight: 300;
    style: italic;
  }

  span {
    font-size: 0.8em;
    position: relative;
    top: -5px;
  }
}
.monoItem-thumb {
    width: 240px;
    height: 300px;
    overflow: hidden;
    margin-top: 100px;
    transition: 0.5s ease;
    font: {
    //   family: "Futura", $heading-font;
     size: 11em;
    }
    &:hover {
      font-size: 2em;
      transition: 1s ease;
    }
}


//individual styling
#monologue {
  font-family: "Didot", $heading-font;
}
#lego {
  font-family: "Futura", $heading-font;
}

#dummy1 {
  font-family: "Gotham", $heading-font;
}

#unknown-designer {
  font-family: "Helvetica",$heading-font;
}

#dummy3 {
  font-family: "Gill Sans", $heading-font;
}

#dummy4 {
  font-family: "Didot", $heading-font;
}

#dummy5 {
  font-family: "Bodoni 72", "Helvetica";
}

#dummy6 {
  font-family: "Arial", $heading-font;
}

#dummy7 {
  font-family: "Baskerville", $heading-font;
}
